@use "../../variables" as *;

.text-field-text {
    height: 28px;
    flex: 1 1;
    background-color: $button;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: text;
    text-align: left;
    color: white;
    font-size: 13px;
    transition: filter 0.15s ease-in-out;

    &__input {
        width: 100%;
        flex: 1 1;
        padding: 0 10px;

        &::placeholder {
            color: #b8b8b8;
        }
    }

    &--disabled {
        background-color: $button--disabled;
        cursor: not-allowed;

        .text-field-text__input {
            &::placeholder {
                color: #787878;
            }
        }
    }

    &:not(&--disabled):hover {
        filter: brightness(1.30);
    }
}