@use "../../variables" as *;

.button-window-close {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in-out;
    app-region: no-drag;

    &__icon * {
        fill: #808080;
    }

    &:hover {
        background-color: #E81123;

        .button-window-close__icon * {
            fill: #ffffff;
        }
    }
}