@use "./variables" as *;

@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    user-select: none;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    all: unset;
    -webkit-user-drag: none;
}

input {
    all: unset;
}

@property --c {
    syntax: '<color>';
    inherits: false;
    initial-value: red;
}

.main {
    --c: #{$tint--disconnected};
    transition: --c 1s ease-in-out;
    background: linear-gradient($foreground, var(--c));
    flex-grow: 1;
    padding: 12px 0 24px 0;

    &--connected {
        --c: #{$tint--connected};
    }

    &--disconnected {
        --c: #{$tint--disconnected};
    }

    &__inner {
        width: 100%;
        height: 100%;
        overflow: auto;
        scrollbar-gutter: stable;
        border-radius: 5px;
        flex-direction: row;
        gap: 8px;
        padding: 0 12px;

        &--flex {
            display: flex;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
        }
    }
}