$background: #1F2020;
$foreground: #3C3C3C;

$tint--connected: #1f281f;
$tint--disconnected: #291F1F;

$button: rgba($color: #919191, $alpha: 0.20);
$button--active: rgba($color: #ffffff, $alpha: 0.25);
$button--disabled: rgba($color: #545454, $alpha: 0.20);
